<!DOCTYPE html>
<html ng-app="loginModule" >
<head>
    <meta charset="UTF-8" />
    <title>后台管理系统-登录</title>
    <link rel="stylesheet" type="text/css" href="css/backend.css">
</head>
<body ng-controller="loginCtrl">
<div class="ui middle aligned center aligned grid" style="width:400px; margin:0 auto; padding-top: 120px;">
    <div class="column">
        <h1 class="ui blue header">
            <div class="content">登录</div>
        </h1>
        <form class="ui large form">
            <div class="ui segment" style="padding:30px;">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" id="name" ng-model="loginInfo.name" placeholder="用户名" />
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" id="password" ng-model="loginInfo.password" placeholder="密码" />
                    </div>
                </div>
                <div class="ui fluid blue submit button" id="login" ng-click="submit()">登录</div>
            </div>
            <div class="ui error message"></div>
        </form>
    </div>
</div>
</body>
<script type="text/javascript" src="js/lib.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</html>
